<!DOCTYPE html>
<html ng-app="contactApp">
<head>
  <title>Gabriel Leoni</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/application.css" rel="stylesheet">
	
  <!-- load font_awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
	<!-- Add JQuery -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- Add fancyBox -->
	<link rel="stylesheet" href="js/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/source/jquery.fancybox.js"></script>

  <!-- Add Angular JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="js/ng-app.js"></script>
  <script src="js/controllers.js"></script>
  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/ >

  <!-- FancyBox Script -->
  <script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox({
		    autoSize: false, // shouldn't be true ?
		    fitToView: true,
		    maxWidth: 820,
		    padding : 0,
		    helpers : {
	    	overlay : {
          css : {
              'background' : 'rgba(0, 0, 0, 0.75)'
          }
	      },
        title: {
	        type: 'outside'
	        }
		    }
			});
		});
	</script>

</head>

<body>
	<header id="main_header" class="cf">
		<div class="wrapper_wide inner">
			<a href="#front-page"><img src="img/portfolio_logo.png" class="logo" alt="GL"></a>
			<nav>
				<ul>
					<a href="#projects"><li>Projects</li></a>
					<a href="#contact"><li>Contact</li></a>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Intro -->
	<div id="front-page">
		<div class="wrapper">
			<div class="inner">
				<h1 class="title">Hey, my name is Gabriel</h1>
				<p class="sub_title">I spend my time designing stuff, coding stuff, woodworking and being outside.</p>
				<div class="links">
					<a href="#info"><i class="fa fa-chevron-down"></i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- INFO SECTION -->
	<div id="info">
		<div class="top"></div>
			<div class="info_inner">
				<div class="wrapper">
					<div class="inner">
						<!-- <img src="/assets/course_icons.svg" alt="Planning, Designing, Coding &amp; Launching" class="course_icons">-->
						<h2 class="title">Self-taught designer / developer / maker</h2>
						<p class="sub_title">Below are some of the projects I've been working on.</p>
						<a href="#contact" class="button">Get in touch</a>
					</div>
				</div>
			</div>
		<div class="bottom"></div>
	</div>


	<!-- PROJECTS SECTION -->
	<div id="projects" class="wrapper">
		<ul class="cf">
			<div class="project_item">
				<li>
					<div class="gallery_item">
						<a class="fancybox" rel="group3" href="img/ventur.png"><img src="img/ventur.png" title="ventur homepage with featured travel journals." /></a>
					</div>
					<div class="hidden">
						<a class="fancybox" href="img/landing_page_big.png" rel="group3" title="ventur landing page."></a>
						<a class="fancybox" href="img/chapter_big.png" rel="group3" title="Screenshot of a journal chapter."></a>
						<a class="fancybox" href="img/profile_big.png" rel="group3" title="Screenshot of profile page"></a>
					</div>
					<a href="http://ventur.herokuapp.com/" target="blank">
					<div class="wrapper project_overview">
						<div class="name"><h2>ventur</h2><span>alpha</span></div>
						<p>ventur.herokuapp.com</p></a>
						<p>Took concept from idea to design to code. Ventur is a platform for sharing adventure-travel stories with a philanthropic twist - we integrate an affiliate program with outdoor retailers to make raising money for charity as simple as sharing the gear that you brought to make your trip happen.</p>
					<hr>
						<div class="tech">
							<h4>Technology used:</h4>
							<ul>
								<li><p>HTML5</p></li>
								<li><p>CSS3</p></li>
								<li><p>Sass</p></li>
								<li><p>Ruby</p></li>
								<li><p>Rails 4</p></li>
								<li><p>SQL</p></li>
								<li><p>Git</p></li>
								<li><p>JavaScript</p></li>
								<li><p>JQuery</p></li>
							</ul>
						</div>
					</div>
				</li>
			</div>
			<hr class="hr_short">
			<div class="project_item">
				<li>
					<img src="img/sww.png" alt="ventur">
					<div class="wrapper project_overview">
						<a href="http://sunsetwoodworks.com/" target="blank">
						  <h2>Sunset Woodworks</h2>
							<p>sunsetwoodworks.com</p>
						</a>
						<p>I built this website for my woodworking/art project using Bootstrap. The page consists of a clean, fully responsive portfolio that showcases the various art pieces.</p>
					<hr>
						<div class="tech">
							<h4>Technology used:</h4>
							<ul>
								<li><p>Bootstap 3</p></li>
								<li><p>CSS3</p></li>
								<li><p>JavaScript</p></li>
								<li><p>PHP</p></li>
								<li><p>JQuery</p></li>
							</ul>
						</div>
					</div>
				</li>
			</div>
			<hr class="hr_short">
			<div class="project_item">
				<li>
					<img src="img/portfolio.jpg" alt="ventur">
					<div class="wrapper project_overview">
						<h2>This very website</h2>
						<p>Hand-coded the HTML, SCSS, AngularJS (for form validation) and PHP on this personal portfolio site using Github for version control.</p>
					<hr>
						<div class="tech">
							<h4>Technology used:</h4>
							<ul>
								<li><p>HTML5</p></li>
								<li><p>CSS3</p></li>
								<li><p>Sass</p></li>
								<li><p>AngularJS</p></li>
								<li><p>JQuery</p></li>
								<li><p>Git</p></li>
							</ul>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</div>
	<div id="gallery">
		<div class="gallery_title wrapper_wide">
			<h2>Freelance Design & Development</h2>
		</div>
		<div id="gallery_outer" class="cf">
			<div id="gallery_inner" class="cf wrapper_wide">
				<div id="gallery_box" class="cf">
					<div class="gallery_info cf"> 
						<h3>Coalo Valley Farms Website</h3>
						<p class="sub_title">- Redesigned squarespace website for the LA-based cricket farm <br>
							<br>
						- Used <strong>Sketch</strong> and <strong>Illustrator </strong> to design cricket protein infographics</p>
					</div>
					<div class="gallery_item">
						<a title="Landing Page for Squarespace website" class="fancybox" rel="group1" href="img/intro-page-big.jpg"><img src="img/intro-page-small.jpg" alt="Landing Page for Coalo Valley Farms" /></a>
					</div>
					<div class="gallery_item">
						<a title="Call-to-action section for online store" class="fancybox" rel="group1" href="img/cricket_jumping_shop_big.png"><img src="img/cricket_jumping_shop_small.png" alt="Call-to-Action to direct user to Coalo's online store" /></a>
					</div>
					<div class="gallery_item">
						<a title="Infographic to compare resource requirements" class="fancybox" rel="group1" href="img/resource_reqs_big.png"><img src="img/resource_reqs_small.png" alt="Landing Page for Coalo Valley Farms" /></a>
					</div>
					<div class="gallery_item cf">
						<a title="Infographic to compare environmental impacts of cricket protein vs. beef." class="fancybox" rel="group1" href="img/environmental_impact_big.png"><img src="img/environmental_impact_small.png" alt="Environmental impact of beef vs cricket" /></a>
					</div>
				</div>
				<div id="gallery_box">
					<div class="gallery_info cf"> 
						<h3>The Hidden Green Financial Forecasting App</h3>
						<p class="sub_title">- Designed financial forecasting web app & logo<br>
							<br>
						- Delivered wireframes to client (currently working out the backend functionality)</p>
					</div>
					<div class="gallery_item">
						<a title="Landing Page for the Hidden Green Financial Forecaster Web app" class="fancybox" rel="group2" href="img/HG_landing_page_big.png"><img src="img/HG_landing_page_small.png"/>
						</a>
					</div>
					<div class="gallery_item">
						<a title="Mockup of Financial Independence Forecasting App"class="fancybox" rel="group2" href="img/FI_graph_big.png"><img src="img/FI_graph_small.png"/>
						</a>
					</div>
					<div class="gallery_item">
						<a title="Hidden Green Logo - an evocation of the path to financial awareness and environmental stewardship" class="fancybox" rel="group2" href="img/hidden_green_header_lg.png"><img src="img/hidden_green_header_sm.png"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTACT 
	<div id="contact" ng-app="contactApp">
		<div class="circle">
			<p class="sub_title">Let's Connect</p>
		</div>
		<div class="inner" ng-controller="ContactController" >
			<form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form" novalidate>
					<div class="wrapper" >
	          <div ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
	              <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
	          </div>
	      	</div>
					<div class"break"></div>
					<button class="button_blue" type="submit" name="submit" value="submit">Get in touch</button>
			</form>
		</div>
	</div> -->

	<div id="contact"  ng-app="contactApp">
      <div class="inner">
          <div ng-controller="ContactController">
							<h2 class="title center">Let's connect!</h2>
              <form ng-submit="submit(contactform)" name="contactform" method="post" action="" role="form" novalidate>
                  <div class="form-group wrapper" >
                      <div ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                          <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                      </div>
                  </div>
                  <div class="form-group wrapper cf" >
                      <div ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                          <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                      </div>
                  </div>
                  <p ng-class="result" style="color: white; padding: 25px; margin: 0;">{{ resultMessage }}</p>
                  <div class="form-group">
                      <div class="wrapper_skinny">
                          <button type="submit" class="button_blue" ng-disabled="submitButtonDisabled">
                              Send!
                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>

	<!-- FOOTER -->
	<div id="footer" class="cf">
		<div class="copyright">
			<p>&copy; 2016 Gabriel Leoni</p>
		</div>
		<nav class="footer_nav">
			<div class="links">
					<a href="https://github.com/gabeamaleoni" target="blank" ><i class="fa fa-github"></i></a>
					<a href="https://www.linkedin.com/in/gabrielleoni" target="blank"><i class="fa fa-linkedin"></i></a>
					<a href="https://www.instagram.com/sunsetwoodworks/" target="blank"><i class="fa fa-instagram"></i></a>
			</div>
		</nav>
	</div>
	<script src="js/app.js"></script>
</body>
</html>
